<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hbsfdxwlxy.mybatis.bank.dao.AccountDao">
    <select id="selectActByActno" resultType="com.hbsfdxwlxy.mybatis.bank.pojo.Account">
        select * from t_act where actno = #{actno}
    </select>

    <update id="updateActByActno">
        update t_act set money = #{money} where actno = #{actno}
    </update>
</mapper>