<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hbsfdxwlxy.competition.mapper.DMSDeptMapper">
    <select id="selectDeptAll" resultType="com.hbsfdxwlxy.competition.pojo.Dept">
        select deptno,dname,loc from t_dept;
    </select>

    <insert id="addDept" parameterType="com.hbsfdxwlxy.competition.pojo.Dept">
        insert into t_dept(deptno,dname,loc) values(#{dept.deptno},#{dept.dname},#{dept.loc})
    </insert>

    <delete id="deleteByDeptno">
        delete from t_dept where deptno = #{deptno}
    </delete>

    <update id="updateDeptByDeptno" parameterType="com.hbsfdxwlxy.competition.pojo.Dept">
        update t_dept set dname = #{dept.dname},loc = #{dept.loc} where deptno = #{dept.deptno};
    </update>

    <select id="selectDeptByDeptno">
        select deptno,dname,loc from t_dept where deptno = #{deptno}
    </select>
</mapper>